html, body {
  background: url('scr-pattern.png') repeat;
}

body {
  padding-top: 3em;
}

div.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #FFF;
  padding: 2em;
}

h1, h2, h3 {
  color: #2C3670;
}
